.App {
    width: 170px;
    margin: 200px auto;
    padding: 6px;
    display: grid;
    grid-template-areas:
    "c c"
    "i r";
    grid-auto-rows: 60px 60px;
    grid-auto-columns: 80px 80px;
    grid-gap: 10px;
    background-color: darkslategray;
}

.Counter {
    background-color: aqua;
    grid-area: c;
    text-align: center;
}

.CounterRed {
    background-color: aqua;
    grid-area: c;
    text-align: center;
    color: red;
}

.inc {
    background-color: aqua;
    grid-area: i;

}
.incError {
    background-color: aqua;
    grid-area: i;
    opacity: 0.5;
}

.reset {
    background-color: aqua;
    grid-area: r;
}
.resetError {
    background-color: aqua;
    grid-area: r;
    opacity: 0.5;
}
