.App {
    width: 500px;
    margin: 250px auto;
    padding: 6px;
    display: grid;
    grid-template-areas:
    "k k c c"
    "s s i r";
    grid-auto-rows: 88px 88px 88px 88px;
    grid-auto-columns: 100px 100px 100px 100px;
    grid-gap: 30px;
    background-color: darkslategray;
}

.Value {
    background-color: aqua;
    grid-area: k;
    text-align: right;
    display: flex;

}


.Counter {
    background-color: aqua;
    grid-area: c;
    text-align: center;
}

.CounterRed {
    background-color: aqua;
    grid-area: c;
    text-align: center;
    color: red;
}

.set {
    background-color: aqua;
    grid-area: s;
}
.setError {
    background-color: aqua;
    grid-area: s;
    opacity: 0.5;
}

.inc {
    background-color: aqua;
    grid-area: i;

}
.incError {
    background-color: aqua;
    grid-area: i;
    opacity: 0.5;
}

.reset {
    background-color: aqua;
    grid-area: r;
}
.resetError {
    background-color: aqua;
    grid-area: r;
    opacity: 0.5;
}